.card-container{
  height: 220px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  padding: 20px;
  margin: 12px 0;
  background-color: #ffffff;
  .pro-img-box{
    position: relative;
    .pro-img-tag{
      position: absolute;
      top: 0px;
      left: 0px;
      font-size: 24px;
      height: 35px;
      line-height: 35px;
      padding: 0 5px;
      background-color: orange;
      color: #ffffff;
      box-sizing: border-box;
      z-index: 9;
    }
    .pro-img{
      height: 160px;
      width: 160px;
    }
  }
  .content-box{
    flex: 1;
    margin-left: 20px;
    .row-1{
      display: flex;
      justify-content: space-between;
      .pro-name{
        flex: 1;
        display: flex;
        align-items: center;
        .title{
          flex: 1;
          width: 0;
          font-size: 30px;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .new{
          display: block;
          height: 35px;
          padding: 0 5px;
          line-height: 35px;
          font-size: 24px;
          color:orange;
          margin-right: 10px;
          background-color: #ddcbaa4d;
          font-weight: 500;
        }
        .old{
          font-size: 24px;
          color:#666;
          margin-right: 10px;
          background-color: #cacbca4d;
          font-weight: 500;
        }
      }
      .pro-type{
        font-size: 12px;
        text-align: center;
        color: #4379FE;
        width: 50PX;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: #dee6ff63;
      }
    }
    .row-2{
      .pro-desc{
        font-size: 24px;
        color: #a7a4a4;
        overflow: hidden;
        height: 16PX;
        &-item:nth-last-child(n+2)::after{
          content: '|';
          margin: 0 8px;
        }
      }
    }
    .row-3{
      .pro-condition{
        margin-top: 15px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        &-item{
          position: relative;
          font-size: 24px;
          text-align: center;
          &-title{
            color:#454545a1;
          }
          .iconfont{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            color: #6190E8;
          }
          &:last-child{
            padding-right: 35px;
          }
        }
      }
    }
  }
}