.contrast-container{
  .contrast-header-box{
    position: fixed;
    top: 92px;
    width: 100%;
    padding: 20px 0;
    background-color: #F7F7F7;
    z-index: 10;
    .flex-box{
      display: flex;
      justify-content: space-around;
    }
  }
  .contrast-content-box{
    margin-top: 240px;
  }
  .contrast-sidebar{
    &-desc{
      padding: 10px 15px;
      display: flex;
      font-size: 28px;
      justify-content: space-between;
      .pro-type{
        font-weight: 600;
      }
    }
    &-content{
      padding: 15px;
      .pro-item{
        font-size: 26px;
        font-weight: 500;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid #e2e2e2;
      }
      .pro-item:last-child{
        border: none;
      }
    }

    .at-drawer__content{
      height: 90%;
      top: unset;
      bottom: 0 !important;
    }
    .at-search-bar__input-cnt{
      border-radius: 0;
      .weui-input{
        height: 30PX;
      }
    }
  }
  .hot-compare-box{
    background-color: #ffffff;
    padding: 20px;
    font-size: 28px;
    margin-top: 240px;
    padding-bottom: 200px;
    .at-divider{
      z-index: 1;
    }
    .compare-li{
      position: relative;
      border: 1px solid #e6e6e6;
      padding-right: 160px;
      margin-bottom: 20px;
      &-pro{
        height: 70px;
        line-height: 70px;
        text-indent: 30px;
      }
      &-pro:first-child{
        border-bottom: 1px solid #F7F7F7;
      }
    }
    .compare-btn{
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -30px;
      height: 55px;
      width: 140px;
      line-height: 55px;
      text-align: center;
      background-color: #6190E8;
      color: #ffffff;
    }
    .at-divider__content{
      font-weight: 600;
    }
  }

  //底部固定按钮
  .fixed-btn{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    padding: 18px 20px;
    border-top: 1px solid #e2e2e2;
    .at-button{
      width: 250px;
      height: 70px;
      line-height: 70px;
      display: inline-block;
    }
    .btn-contrast.at-button{
      width: 350px;
    }
    .btn-share{
      margin-right: 110px;
    }
  }
}
