
//弹性布局默认水平垂直居中
@mixin flex ($row:center,$column:center) {
  display: flex;
  justify-content: $row;
  align-items: $column;
}

// 清除浮动
.clearfix:before,.clearfix:after{
  content:' ';
  display:table;
}
.clearfix:after{
  clear: both;
}