.flex-table-body{
  .table-tr{
    display: flex;
    color: #333;
    border-bottom: 1px solid #ffffff;
    &-title{
      color: #ffffff;
      background-color: #6190E8;
      flex-basis: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 28px;
      padding: 15px 8px;
    }
    &-content{
      flex: 1;
      font-size: 26px;
      padding: 10px;
      background-color: rgba(212,226,240,0.54);
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #ffffff;
    }
    &-content:last-child{
      border: none;
    }
  }

}