.table-body{
  .table-tr{
    display: flex;
    color: #333;
    border: 1px solid #edf5ff;
    &-title{
      color: #ffffff;
      background-color: #6190E8;
      flex-basis: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 28px;
      padding: 15px 8px;
    }
    &-content{
      flex: 1;
      text-indent: 10px;
      font-size: 26px;
      background-color: #d4e2f08a;
      display: flex;
      align-items: center;
    }
  }

}