.tab-panel-container{
  margin-top: 20px;
  position: relative;
  .tab-panel-content{
    margin-top: 40px;
    overflow: hidden;
  }
  .tab-footer{
    width: 100%;
    &-box{
      height: 80px;
      line-height: 80px;
      display: flex;
      justify-content: space-around;
      font-size: 26px;
      color: #4379FE;
      .iconfont{
        margin-left: 5px;
        font-size: 14PX;
      }
    }
  }
}

//保什么（简单）、投保规则的表格样式
.table-container{
  .table-tr{
    display: flex;
    min-height: 90px;
    line-height: 90px;
    font-size: 26px;
    border-bottom: 1px solid rgba(207,226,222,0.66);
    background-color: rgba(222,230,253,0.44);
    .table-title{
      flex-basis: 150px;
      background-color: #6190E8;
      color: #ffffff;
      line-height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .table-content{
      flex: 1;
      line-height: 30px;
      display: flex;
      align-items: center;
      text-align: left;
      box-sizing: border-box;
      padding: 10px;
    }
  }
  .table-tr:nth-child(odd){
    background-color: #f9fefd;
  }
  .tab-footer{
    width: 100%;
    &-box{
      height: 80px;
      line-height: 80px;
      display: flex;
      justify-content: space-around;
      font-size: 26px;
      color: #4379FE;
      .iconfont{
        margin-left: 5px;
        font-size: 14PX;
      }
    }
  }
}

// 保什么（详细）
.details-container{
  .details-content{
    .detail-box{
      display: flex;
      border-bottom: 1px solid rgba(207,226,222,0.66);
      .detail-class{
        flex-basis: 100px;
        font-size: 28px;
        color: white;
        background-color: #6190E8;
        writing-mode: vertical-lr;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .item-box{
        font-size: 26px;
        flex: 1;
        .flex-box{
          display: flex;
          align-items: center;
          border-top: 1px solid rgba(207,226,222,0.66);
          .item-key,.item-value{
            color: #333;
            box-sizing: border-box;
            flex: 1;
            padding: 20px;
          }
          .item-value{
            border-left: 1px solid rgba(207,226,222,0.66);
          }
        }
        .flex-box:first-child{
          border: none;
        }
      }
    }
    .detail-box:first-child{
      border-top: 1px solid rgba(207,226,222,0.66);
    }
  }
  .tab-footer{
    width: 100%;
    &-box{
      height: 80px;
      line-height: 80px;
      display: flex;
      justify-content: space-around;
      font-size: 26px;
      color: #4379FE;
      .iconfont{
        margin-left: 5px;
        font-size: 14PX;
      }
    }
  }
}

//不保什么
.excludes-container{
  .excludes-content{
    background-color: #edf5ff;
    .exclude-item{
      padding: 15px 5px;
      font-size: 26px;
      border-bottom: 1px solid rgba(207,226,222,0.66);
      color: #333;
    }
    .exclude-item:last-child{
      border-bottom: none;
    }
  }
  .tab-footer{
    width: 100%;
    &-box{
      height: 80px;
      line-height: 80px;
      display: flex;
      justify-content: space-around;
      font-size: 26px;
      color: #4379FE;
      .iconfont{
        margin-left: 5px;
        font-size: 14PX;
      }
    }
  }
}

//病种
.diseases-container{
  padding-bottom: 90px;
  .content-box{
    .diseases-type-box{
      display: flex;
      .diseases-type{
        font-size: 26px;
        height: 70px;
        width: 180px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 70px;
        margin-top: 10px;
        margin-right: 30px;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid #4379FE;
        color: #333;
        transition: all .3s;
      }
      .active{
        color: #ffffff;
        background-color: #4379FE;
      }
    }
    .diseases-items-box{
      .scroll{
        height: 400px;
      }
      padding: 10px 15px;
      margin-top: 20px;
      .diseases-item{
        font-size: 26px;
        margin-bottom: 10px;
      }
    }
  }
}

.noData{
  color: #999;
  text-align: center;
  .iconfont{
    font-size: 30PX;
  }
}