.index-container {
  overflow: hidden;
  position: relative;
  .search-container{
    .at-search-bar__input-cnt{
      border-radius: 0;
      .weui-input{
        height: 30PX;
      }
    }
    .selection-bar{
      font-size: 26px;
      padding: 10px;
      &-info{
        display: flex;
        justify-content: space-between;
        .pro-total{
          color:blue;
        }
      }
      &-tag{
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        &-item{
          margin-right: 30px;
          padding: 0px 20px;
          font-size: 24px;
          text-align: center;
          border-radius: 10px;
          background-color: #e2e4e4b3;
          color: #787878;
        }
      }
    }
    .list-box{
      background-color: #F7F7F7;
      .toLast {
        font-size: 30px;
        color: #999;
        text-align: center;
        padding: 60px 0px 80px 0px;
      }
    }
  }
}