.premium-container{
  padding-bottom: 80px;
  .has-premium{
    .premium-desc{
      font-size: 12PX;
      color: #999;
      line-height: 32px;
    }
    .premium-table{
      margin-top: 20px;
    }
  }
  .noData{
    color: #999;
    text-align: center;
    .iconfont{
      font-size: 30PX;
    }
  }
}


//表格组件样式
.premium-table-container{
  .table-th{
    display: flex;
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    &-td{
      background-color: #1890ff;
      flex: 1;
      padding: 20px 0px;
      border-left: 1px solid #ffffff;
    }
    &-td:first-child{
      flex: 0;
      flex-basis: 120px;
    }
  }
  .table-th:first-child{
    border-bottom: 1px solid #ffffff;
  }
  .table-tbody{
    display: flex;
    text-align: center;
    .td{
      height: 60px;
      line-height: 60px;
      font-size: 27px;
    }
    .row-age{
      flex-basis: 120px;
      .td{
        background-color: rgba(222,230,253,0.44);
      }
      .td:nth-child(odd){
        background-color: #f9fefd;
      }
    }
    .condition-module{
      flex: 1;
      &-tr{
        display: flex;
        background-color: rgba(222,230,253,0.44);
        &-td{
          flex: 1;
        }
      }
      &-tr:nth-child(odd){
        background-color: #f9fefd;
      }
    }
    // .table-tr{
    //   display: flex;
    //   text-align: center;
    //   font-size: 28px;
    //   color: #333;
    //   background-color: #dee6fd70;
    //   &-td{
    //     flex: 1;
    //     height: 60px;
    //     line-height: 60px;
    //   }
    //   &-td:first-child{
    //     flex: 0;
    //     flex-basis: 120px;
    //   }
    // }
    // .table-tr:nth-child(odd){
    //   background-color: #f9fefd;
    // }
  }
}