.detail-container{
  .modal{
    .at-float-layout__container{
      height: 380px !important;
      min-height: 380px !important;
    }
    .layout-body{
      min-height: 380px !important;
      height: 380px !important;
    }
    .layout-body__content{
      height: 380px !important;
      min-height: 380px !important;
    }
    .layout-header__title{
      text-align: center;
      text-indent: 60px;
    }
    .modal-content{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      text-align: center;
      font-size: 26px;
      color: #333;
      .tag-item{
        width: 28%;
        margin-top: 30px;
        &-label{
          font-size: 24px;
          color: #999;
        }
      }
    }
  }
  //覆盖AtTabs标题颜色颜色
  .at-tabs__item--active{
    color: #40a9ff;
  }
  // 保险条款
  .policies-box{
    position: relative;
    font-size: 26px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 25px;
    padding-right: 50px;
    display: flex;
    .policies-name{
      flex: 1;
      width: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .icon-PDF{
      font-size: 14PX;
      vertical-align: middle;
      color: red;
      margin-right: 8px;
    }
    .icon-youjiantou-copy{
      position: absolute;
      right: 10px;
      font-size: 18PX;
      color: #999;
    }
  }
  // 保险公司
  .company-box{
    position: relative;
    .company-name{
      font-size: 32px;
      font-weight: 600;
    }
    .company-desc,.company-phone{
      font-size: 28px;
      line-height: 50px;
      margin: 20px 0px 30px;
      display: flex;
      justify-content: space-between;
    }
    .more{
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 26px;
      color: #40a9ff;
      .iconfont{
        font-size: 24px;
      }
    }
  }
  // 相似产品
  .similar-pro-box{
    margin-top: -10px;
    .similar-pro{
      height: 120px;
      padding: 10px 0px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 28px;
      border-bottom: 1px solid rgba(226,226,226,0.57);
      position: relative;
      .pro-name{
        display: flex;
        width: 550px;
        align-items: center;
        .title{
          flex: 1;
          width: 0;
          font-size: 27px;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .tag{
          display: block;
          height: 35px;
          padding: 0 8px;
          line-height: 35px;
          font-size: 24px;
          margin-right: 10px;
          font-weight: 500;
        }
        .old{
          color:#919191;
          background-color: rgba(202,202,202,0.3);
        }
        .new{
          background-color: rgba(255,205,91,0.24);
          color:orange;
        }
      }
      .pro-desc{
        margin-top: 10px;
        font-size: 24px;
        color: #a7a4a4;
        overflow: hidden;
        height: 40px;
        width: 550px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &-item:nth-last-child(n+2)::after{
          content: '|';
          margin: 0 8px;
        }
      }
      .contrast-btn{
        position: absolute;
        top: 45px;
        right: 20px;
        height: 45px;
        width: 140px;
        line-height: 45px;
        border-radius: 2PX;
        border: none;
        text-align: center;
        font-size: 28px;
        color: #ffffff;
        background-color: #1890ff;
      }
    }
  }

  //回到顶部按钮
  .toTop-btn{
    position: fixed;
    bottom: 40%;
    right: 6%;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 50%;
    background-color: #ffa940;
    font-size: 24px;
    text-align: center;
    line-height: 35px;
    color: #ffffff;
  }
  .fixed-tab{
    position: fixed;
    top: 92px;
    width: 100%;
    font-size: 28px;
    font-weight: 600;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 6px #eaeaea;
    .flex-box{
      display: flex;
      height: 70px;
      line-height: 70px;
      color:  #333;
      .tab{
        width: 25%;
        text-align: center;
      }
    }
  }
  
  // 底部固定按钮
  .fixed-btn{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    padding: 20px;
    border-top: 1px solid #e2e2e2;
    .at-button{
      width: 30%;
      height: 80px;
      line-height: 80px;
      display: inline-block;
      font-size: 32px;
    }
    .btn-contrast.at-button{
      width: 60%;
      background-color: #1890ff;
    }
    .btn-share{
      margin-right: 4%;
      border: 1PX solid #1890ff;
      color: #40a9ff;
    }
  }
  .footer{
    line-height: 100px;
    font-size: 12PX;
    color:#999;
    height: 850px;
  }
  .noData{
    color: #999;
    text-align: center;
    padding: 40px 0px;
    .iconfont{
      font-size: 30PX;
    }
  }
}